@import "tailwindcss";

:root {
  --primary: #c65a3a;
  --secondary: #f2a28a;
  --white: #ffffff;
  --dark: #3a2a24;
  --cream: #d9c5b2;
}

body {
  font-family: var(--font-poppins);
  color: var(--dark);
  background: var(--white);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-baloo);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}
@keyframes testimonial-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-testimonial {
  animation: testimonial-scroll 25s linear infinite;
}
::-webkit-scrollbar {
  display: none;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.7s ease forwards;
}
